<header class="px-2 h1 bg-primary text-white">&nbsp;&nbsp;電話番号調査システム</header><!-- END "" -->
<main>
<div class="center-block">
<div class="col-md-10 col-md-offset-1">
<div id="content_conf">
<br>
<div class="row col-md-12 text-center">
        <div class="table-active col-3 p-3 table_border">発呼制御サーバー情報<br>（OGW/HGW）管理</div>
        <div class="table-active col-3 p-3 table_border">発呼ﾍﾟｰｽ<br>情報設定</div>
        <div class="table-active col-3 p-3 table_border">自粛リスト<br>設定</div>
        <div class="table-info col-3 p-3 table_border">ログ閲覧</div>
    </table>
</div>
<br>
		<span class="topic h3 bg-faded border border-secondary rounded">&nbsp;ログ一覧&nbsp;</span>
		<br><br>
		<table class="table_job td_input_left table table_border">
			<thead>
			  <th class="table-active">ファイル名</th>
			  <th class="table-active">サイズ</th>
			  <th class="table-active">最終更新日時</th>
			</thead>
			<tbody>
			<% @files_name.sort_by{|var| var}.each do |f| %>			
      		<tr>
        		<td class="th_width"><%= link_to File.basename(f), action: "downloadlog", id: f %></td>
        		<td><%= p File.new(f).size %></td>
        		<td><%= p File.new(f).mtime %></td>
            	<% end %>
			</tr>
			</tbody>
		</table>
	</div>
		<%= link_to '各種設定トップ画面へ', menu_menu002_path , class:"btn btn-primary float-right" %>
</main><!-- END "" -->
