<header class="px-2 h1 bg-primary text-white">&nbsp;&nbsp;電話番号調査システム</header><!-- END "" -->
<main>
<div class="center-block">
<div class="col-md-10 col-md-offset-1">
<div id="content_conf">
<br>
<div class="row col-md-12 text-center">
        <div class="table-active col-3 p-3 table_border">発呼制御サーバー情報<br>（OGW/HGW）管理</div>
        <div class="table-active col-3 p-3 table_border">発呼ﾍﾟｰｽ<br>情報設定</div>
        <div class="table-info col-3 p-3 table_border">自粛リスト<br>設定</div>
        <div class="table-active col-3 p-3 table_border">ログ閲覧</div>
    </table>
</div>
<br>
		<% if !@message.blank? || @navail_new.errors.any? || flash[:true].present? || flash[:false].present? %>

			<ul class="ul_conf2_message">

			<li><%= @message %></li>
			<% #errorsに入っているエラー内容を出力する %>
			<% @navail_new.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
			<% if flash[:true].present? %>
			   <li class="li_conf2_color_true"><%= flash[:true] %></li>
			<% end %>
			<% if flash[:false].present? %>
			   <li><%= flash[:false]%></li>
			<% end %>

			</ul>
		<% end %>


	<% #検索用フォーム %>
	<div class="clearfix">
	<%= form_tag("/setting/conf2/search", method: "post") do %>
		<div class="float-left col-4"><%= text_field_tag :keyword, '', :class=>"form-control", :maxlength=>32 %></div>
		<div><%= submit_tag "検索", class:"btn btn-primary" %></div>
		<%#= button_tag type: 'button', class: 'class:'btn btn-primary', onclick: "submit_to()" do %><%# end %>
	<% end %>
	</div>
	<br>
	<% #更新用フォーム %>
	<%= form_tag conf2_path, :method=>:post, :id=>"main_form", :authenticity_token => false do  %>
	<table class="table_job td_input_left table table_border">
		<thead>
				<th class="table-active"></th>
			  <th class="table-active" style="width: 38%">自粛リスト</th>
			  <th class="table-active" style="width: 44%">説明</th>
			  <th class="table-active">無効</th>
			  <th class="table-active"></th>
		</thead>
		<tbody>
					<% @navaillist.each do |navail| %>
						<tr>
						<%= fields_for "navail[]", navail do |fi| %>
							<%= fi.hidden_field :na_id %>
							<td><%= fi.check_box :is_delete, {:checked=> false}, checked_value="true", unchecked_value="false" %></td>
							<td><%= fi.text_field :telnum_exp, :class=>"form_input_conf2 col-12 waku", :maxlength=>14 %></td>
							<td><%= fi.text_field :remarks, :class=>"form_input_conf2 col-12 waku", :maxlength=>30 %></td>

							<% #enabled_flgの値を逆値にする %>
							<% navail.enabled_flg = !(navail.enabled_flg) %>
							<td><%= fi.check_box :enabled_flg, {}, checked_value="false", unchecked_value="true" %></td>
							<td></td>
						<% end %>
						</tr>
					<% end %>
					<tr>
						<td></td>
						<%= form_for(@navail_new, :url  => {:controller=>"conf2", :action=>"new"}, :html=>{:method=>"post"}, :authenticity_token => false) do |f|%>
							<% if @count < 3000 %>
								<td><%= f.text_field :telnum_exp,:class=>"form_input_conf2 col-12 waku", :placeholder => '半角数字か、正規表現で入力してください', :maxlength=>37%></td>
								<td><%= f.text_field :remarks, :class=>"form_input_conf2 col-12 waku", :maxlength=>30 %></td>
								<td><%= f.check_box :enabled_flg, {:checked => false}, checked_value="false", unchecked_value="true" %></td>
								<td>
									<%= button_tag type: 'button', class: 'btn btn-primary', onclick: "submit_new()" do %>
										登録
									<% end %>
								</td>
							<% else %>
								<td><%= f.text_field :telnum_exp,:class=>"form_input_conf2", :placeholder => '3000件登録されているので登録できません', :maxlength=>37, :readonly => true, :id => 'regist_warn' %></td>
								<td><%= f.text_field :remarks, :class=>"form_input_conf2", :maxlength=>25, :readonly => true %></td>
								<td><%= f.check_box :enabled_flg, {:checked => false}, checked_value="false", unchecked_value="true" %></td>
								<td>
									<%= button_tag type: 'button', class: 'btn btn-primary', onclick: "submit_new()", style: "visibility: hidden;" do %>
										登録
									<% end %>
							<% end %>
						<% end %>
						<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
					</tr>
		</tbody>
	</table>
	<%= paginate @navaillist %>
			<br>
			<div class="float-right">
			<%= button_tag type: 'button', class:'btn btn-primary', onclick: "link_to('#{download_path(format: :csv)}')" do %>
				自粛リストダウンロード
			<% end %>
			<button class="btn btn-primary">更新</button>
			<%= button_tag type: 'button', form: "main_form", class:'btn btn-primary', onclick: "submit_delete()" do %>
				削除
			<% end %>
	<%= link_to '各種設定トップ画面へ', menu_menu002_path, class:'btn btn-primary' %>
	<% end %>
	</div>
	</div>
</main><!-- END "" -->
</div>
</div>
<script type="text/javascript">
function submit_new() {
	$("#main_form").attr('action', '<%= conf2_new_path %>');
	$("#main_form").submit();
}

function submit_delete() {
	if (confirm('選択したものを本当に削除しますか？')) {
		$('<input>', {type: 'hidden', name: '_method', value: 'DELETE'}).appendTo('#main_form');
		$("#main_form").submit();
	} else {
		return false;
	}
}

function link_to(link) {
	location.href = link;
}
</script>
