<header class="px-2 h1 bg-primary text-white">&nbsp;&nbsp;電話番号調査システム</header><!-- END "" -->
<div class="center-block">
<div class="col-md-10 col-md-offset-1">
<main>
  <div class="float-right">
  <%= link_to 'トップ画面へ', top_path, class:'btn btn-outline-primary btn-sm' %>
  <%= link_to 'ジョブ履歴へ', history_path, class:'btn btn-outline-primary btn-sm' %> 
  </div>
  <br>
 <p class="notice"><%= flash[:notice] %></p>
  <span class="topic h3 bg-faded border border-secondary rounded">&nbsp;受託ジョブ登録&nbsp;</span>
	<div id="page_job" class="center-block">
	<div class="col-md-12">
	<br>
		<table class="table_job td_input_left table table_border">
			<thead>
				<tr>
					<th class="table-active">ジョブ名</th>
					<th class="table-active">登録件数</th>
					<th class="table-active">対象件数</th>
					<th class="table-active">優先度</th>
					<th class="table-active">状態</th>
					<th class="table-active">進捗(%)</th>
					<th class="table-active">回線エラー</th>
					<th class="table-active">自粛リスト</th>
					<th class="table-active" colspan="3"></th>
				</tr>
			</thead>
			<tbody>
				<% @job_acces.each.map do |f| %>
				<tr>
					<td><%= f.description %></td>
					<td><%= number_with_delimiter(f.upd_recs, :delimiter => ',')%>件</td>
					<td><%= number_with_delimiter(f.alltask_recs, :delimiter => ',')%>件</td>
					<td><%= f.priority %></td>
					<% if f.job_status.status_cd >= 11 %>
						<td>削除中</td>
					<% elsif f.job_status.status_cd == 3 and (@errors["#{f.job_id}"] == 0 or @errors["#{f.job_id}"].nil?) and (@navail_errors["#{f.job_id}"] == 0 or @navail_errors["#{f.job_id}"].nil? ) and (@navail_ok["#{f.job_id}"] == 0 or @navail_ok["#{f.job_id}"].nil?) %>
						<td>完了</td>

					<% elsif f.job_status.status_cd == 3 and (@errors["#{f.job_id}"] == 0 or @navail_errors["#{f.job_id}"] == 0  or @navail_ok["#{f.job_id}"] == 0) %>
						<td>要再調査</td>
					<% else %>
						<td><%= f.job_status.description %></td>
					<% end %>
					<td><%= @acces_progress_list["#{f.job_id}"]%>%</td>
          <td>
						<% if @errors["#{f.job_id}"].nil? %>
							0件
						<% else %>
							<%= number_with_delimiter(@errors["#{f.job_id}"], :delimiter => ',') %>件
						<% end %>
          </td>
					<td><%= number_with_delimiter(@acces_navail_list["#{f.job_id}"], :delimiter => ',')%>件</td>
					<td><%= link_to '詳細', {action: 'show',:id => f.job_id}, {class: 'btn btn-primary'} %></td>
				</tr>
				<% end %>

			</tbody>
		</table>
	<%= link_to '新規追加', jobm_new_path, class:'btn btn-primary' %>
	</div>
	<br>
  <span class="topic h3 bg-faded border border-secondary rounded">&nbsp;月次ジョブ一覧&nbsp;</span>
	<div id="page_job" class="center-block">
	<div class="col-md-12">
	<br>
		<table class="table_job td_input_left table table_border">
			<thead>
				<tr>
					<th class="table-active">ジョブ名</th>
					<th class="table-active">登録件数</th>
					<th class="table-active">対象件数</th>
					<th class="table-active">状態</th>
					<th class="table-active">進捗(%)</th>
					<th class="table-active">回線エラー</th>
					<th class="table-active">自粛リスト</th>
					<th class="table-active" colspan="3"></th>
				</tr>
			</thead>
			<tbody>
			<% @job_month.each do |f| %>
				<tr>
					<td><%= f.description %></td>
					<td><%= number_with_delimiter(f.upd_recs, :delimiter => ',')%>件</td>
					<td><%= number_with_delimiter(f.alltask_recs, :delimiter => ',')%>件</td>

                                        <% if f.job_status.status_cd >= 11 %>
                                                <td>削除中</td>
                                        <% elsif f.job_status.status_cd == 3 and (@errors["#{f.job_id}"] == 0 or @errors["#{f.job_id}"].nil?) and (@navail_errors["#{f.job_id}"] == 0 or @navail_errors["#{f.job_id}"].nil? ) and (@navail_ok["#{f.job_id}"] == 0 or @navail_ok["#{f.job_id}"].nil?) %>
                                                <td>完了</td>
					<% elsif f.job_status.status_cd == 3 and (@errors["#{f.job_id}"] == 0 or @navail_errors["#{f.job_id}"] == 0  or @navail_ok["#{f.job_id}"] == 0) %>
                                                <td>要再調査</td>
                                        <% else %>
                                                <td><%= f.job_status.description %></td>
                                        <% end %>

					<td><%= @month_progress_list["#{f.job_id}"]%>%</td>
          <td>
						<% if @errors["#{f.job_id}"].nil? %>
							0件
						<% else %>
							<%= number_with_delimiter(@errors["#{f.job_id}"], :delimiter => ',') %>件
						<% end %>
          </td>
					<td><%= number_with_delimiter(@month_navail_list["#{f.job_id}"], :delimiter => ',')%>件</td>
					<td><%= link_to '詳細', {action: 'show',:id => f.job_id}, {class: 'btn btn-primary'} %></td>
				</tr>
			<% end %>
			</tbody>
		</table>
	<%= link_to '新規追加', jobm1_new_path, class:'btn btn-primary' %>
	</div>
</main>
</div>
</div>
<script type="text/javascript">
  function autoreload() {
    if (document.URL.match(/\/main$/)) location.reload()
  }
  setTimeout("autoreload()",1000*60);
</script>
<!-- END "" -->
