<header class="px-2 h1 bg-primary text-white">&nbsp;&nbsp;電話番号調査システム</header><!-- END "" -->
<div class="center-block">
<div class="col-md-10 col-md-offset-1">
<main>
  <br>
	<% if @command == '0' %>
		<div id="errorMsg" style="color: #f00;clear:both;">
			<h4>完了していない月次ジョブがあるため実行できませんでした。</h4>
		</div>
	<% else %>
	  <h4><%= @job.type_cd %>: <%= @job.description %>　<%= @command%>　受付しました。</h4>
	<% end %>
  <br><br><br><br><br><br><br><br>
<div class="float-right">
  <%= link_to 'ジョブ管理トップ画面へ', main_index_path, class:"btn btn-primary" %>
  <% unless @command == "削除" %>
  <%= link_to 'ジョブ詳細画面へ', {action: :show, :id => @job.job_id}, {class:"btn btn-primary"} %>
  <% end %>
</div>
</main><!-- END "" -->
</div>
</div>
