<header class="px-2 h1 bg-primary text-white">&nbsp;&nbsp;電話番号調査システム</header><!-- END "" -->
<div class="center-block">
<div class="col-md-10 col-md-offset-1">
<main>
  <br>
        <% errors_show = 0 %>
	<% @job.task_summaries.each do |f| %>
		<% next if f.carrier_type_cd == -1 %>
		<% errors_show += f.err_recs %>  
	<% end %>
	<% errors_show %>


	<% if @job.job_status.status_cd >= 11 %>
	    <span class="topic h3 bg-faded border border-secondary rounded">&nbsp;ジョブ詳細　状態：削除中&nbsp;</span>
	<% elsif @job.job_status.status_cd == 3 and (errors_show == 0 or errors_show.nil?) and (@navail == nil or @navail.err_recs == 0) and (@navail == nil or @navail.ok_recs == 0) %>
	    <span class="topic h3 bg-faded border border-secondary rounded">&nbsp;ジョブ詳細　状態：完了&nbsp;</span>
	<% elsif @job.job_status.status_cd == 3 and (errors_show == 0 or @navail.err_recs == 0  or @navail.ok_recs == 0) %>
	    <span class="topic h3 bg-faded border border-secondary rounded">&nbsp;ジョブ詳細　状態：要再調査&nbsp;</span>
	<% else %>
	    <span class="topic h3 bg-faded border border-secondary rounded">&nbsp;ジョブ詳細　状態：<%= @job.job_status.description%>&nbsp;</span>
	<% end %>

  <br>
  <br>
	<div id="page_job" class="center-block">
<div class="col-md-12">
		<table class="table_job td_input_left table table_border">
	    <tr>
	      <th class="table-active" >ジョブ種類</th>
	      <td><%= @job.type_cd %></td>
	    </tr>
	    <tr>
	      <th class="table-active" >ジョブ名</th>
	      <td><%= @job.description %></td>
	    </tr>
	    <tr>
	      <th class="table-active" >登録者名</th>
	      <td><%= @job.staff_nm %></td>
	    </tr>
	    <tr>
	      <th class="table-active" >ファイル名</th>
		<td>
		  <% unless @file == nil %>
	      	    <%= @file.filename %>
		  <% end %>&nbsp;
		</td>
	    </tr>
	    <tr>
	      <th class="table-active" >登録件数</th>
	      <td><%= number_with_delimiter(@job.upd_recs, :delimiter => ',')%>件</td>
	    </tr>
	    <tr>
	      <th class="table-active" >対象件数</th>
	      <td>
					<%= number_with_delimiter(@job.alltask_recs, :delimiter => ',')%>件 
					(残り <%= number_with_delimiter(@left, :delimiter => ',')%>件  進捗率:<%=@progress%>%)
				</td>
	    </tr>
	    <tr>
	      <th class="table-active" >例外件数</th>
	      <td>
					<% errors = 0 %>
					<% @job.task_summaries.each do |f| %>
						<% next if f.carrier_type_cd == -1 %>
						<% errors += f.err_recs %>  
					<% end %>
					回線エラー <%= number_with_delimiter(errors, :delimiter => ',') %>件  
					自粛リスト <% if @navail != nil %><%= number_with_delimiter(@navail.ok_recs, :delimiter => ',')%><% else %>0<% end %>件
				</td>
	    </tr>
	    </table>
	    </div><div class="col-md-12">
	    <table class="table_job table table_border">
	    	<thead>
	    		<th class="table-active" >調査開始時間</th>
	    		<th class="table-active" >経過時間</th>
					<% if @job.job_status.status_cd == 3 || @job.job_status.status_cd == 4 %>
						<th class="table-active" >完了日時</th>
					<% else %>
		    		<th class="table-active" >完了予定日時</th>
					<% end %>
	    	</thead>
	    	<tbody>
	    		<td>&nbsp;<%= @startdatetime %>&nbsp;</td>
	    		<td>&nbsp;<%= @elapsed %>&nbsp;</td>
	    		<td>&nbsp;<%= @estimated %>&nbsp;</td>
	    	</tbody>
	    </table>
	    </div><div class="col-md-9">
		<table class="table_size_400 table table_border">
			<thead>
				<tr>
					<th class="table-active" >キャリア種別</th>
					<th class="table-active" >調査済み件数</th>
				</tr>
			</thead>
			<tbody>
      <% if @carriers == nil or @carriers.length == 0 %>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      <% else %>
        <% @carriers&.each{|key, value| %>
          <tr>
            <td><%= key %></td>
            <td><%=  number_with_delimiter(value, :delimiter => ',')%></td>
          </tr>
        <% } %>
      <% end %>
      </tbody>
		</table></div>
	</div>
  <div class="float-right">
    <% if @job.job_status.status_cd == 0%>
      <%= link_to '実行', main_jobcommand_path(main_id: @job.job_id, command: 1), class:'btn btn-primary' %>
      <%= link_to '削除', main_jobcommand_path(main_id: @job.job_id, command: 6), class:'btn btn-primary' %>
    <% elsif @job.job_status.status_cd == 1%>
      <%= link_to '中断', main_jobcommand_path(main_id: @job.job_id, command: 2), class:'btn btn-primary' %>
    <% elsif @job.job_status.status_cd == 2%>
      <%= link_to '結果取得', main_jobr_new_path(main_id: @job.job_id), class: 'btn btn-primary'%>
      <%= link_to '再開', main_jobcommand_path(main_id: @job.job_id, command: 7), class:'btn btn-primary' %>
      <%= link_to '削除', main_jobcommand_path(main_id: @job.job_id, command: 6), class:'btn btn-primary' %>

    <% elsif @job.job_status.status_cd == 3%>
      <%= link_to '結果取得', main_jobr_new_path(main_id: @job.job_id), class:'btn btn-primary' %>
      <%= link_to '削除', main_jobcommand_path(main_id: @job.job_id, command: 6), class:'btn btn-primary' %>
      <% if (errors_show != 0 or (@navail.nil? == false and @navail.err_recs.nil? == false and @navail.err_recs != 0)  or (@navail.nil? == false and @navail.ok_recs.nil? == false and @navail.ok_recs != 0)) %>
          <%= link_to '再調査準備', main_jobcommand_path(main_id: @job.job_id, command: 5), class:'btn btn-primary' %>
      <% end %>
    <% elsif @job.job_status.status_cd == 4%>
      <%= link_to '結果取得', main_jobr_new_path(main_id: @job.job_id), class:'btn btn-primary' %>
      <%= link_to '削除', main_jobcommand_path(main_id: @job.job_id, command: 6), class:'btn btn-primary' %>
    <% elsif @job.job_status.status_cd == 5%>
    <% elsif @job.job_status.status_cd == 6 || @job.job_status.status_cd >= 11 %>
    <% end %>
    <% if @job.type_cd == '月次ジョブ' %>
			<% if @job.job_status.status_cd != 6 && @job.job_status.status_cd != 4 && @job.job_status.status_cd < 11 %>
    		<%= link_to 'ファイル追加',  main_jobd_new_path(main_id: @job.job_id), class:'btn btn-primary' %>
			<% end %>
    <% end %>
    <%= link_to 'ジョブ管理トップ画面へ', main_index_path, class:'btn btn-primary' %>
  </div>
</main>
</div>
</div>
<!-- END "" -->
