<header class="px-2 h1 bg-primary text-white">&nbsp;&nbsp;電話番号調査システム</header><!-- END "header" -->
<div class="container">
  <div class="center-block col-md-10 col-md-offset-1">
    <main>
      <div class="float-right">
        <%= link_to 'トップ画面へ',  top_path, class: 'btn btn-outline-primary btn-sm' %>
      </div>
      <span style="border-bottom: solid 1px black;">
        <br>
        <br>
        <%= link_to '発呼制御サーバー情報（OGW/HGW）管理', conf_path, class: 'h3' %>
        <br>
        <br>
        <%= link_to '発呼ペース情報設定', conf1_path, class: 'h3' %>
        <br>
        <br>
        <%= link_to '自粛リスト設定', conf2_path, class: 'h3' %>
        <br>
        <br>
        <%= link_to 'ログ閲覧', viewlog_path, class: 'h3' %>
      </span>
    </main><!-- END "main" -->
  </div>
</div>
