<header class="px-2 h1 bg-primary text-white">&nbsp;&nbsp;電話番号調査システム</header><!-- END "header" -->
<div class="center-block">
<div class="col-md-10 col-md-offset-1">
	<br><br>
	<%= link_to 'ジョブ管理', main_index_path, class: 'btn btn-primary' %>
	&nbsp;&nbsp;&nbsp;
	<%= link_to '各種設定', menu_menu002_path, class: 'btn btn-primary' %>
</div>
</div>
