<header>電話番号調査システム</header><!-- END "" -->
<main>
	<div id="content_conf">
	<table id="table_history">
	<tr>
		<th class="menu_active">17年3月</th>
		<th>4月</th>
		<th>5月</th>
		<th>6月</th>
		<th>7月</th>
		<th>8月</th>
		<th>9月</th>
		<th>10月</th>
		<th>11月</th>
		<th>12月</th>
		<th>1月</th>
		<th>2月</th>
	</tr>	
	</table>
	<p>受託ジョブの履歴</p>
		<table>
			<thead>
			<tr>
			  <th>ジョブ名</th>
			  <th>登録者</th>
			  <th>登録日時</th>
			  <th>開始日時</th>
			  <th>完了日時</th>
			  <th>対象件数</th>
			  <th>調査済み件数</th>
			  <th>自粛<br>リスト</th>
			  <th>回線<br>エラー</th>
			  <th>状態</th>
			</tr>
			</thead>
			<tbody>
			  <% @jobarchive_acces.each do |f| %>
			  <tr>
			    <td><%= f.description %></td>
			    <td><%= f.staff_nm %></td>
			    <td><%= f.created_at %></td>
			    <td><%= f.started_at %></td>
			    <td><%= f.finished_at %></td>
			    <td><%= f.all_recs %></td>
			    <td><%= f.ok_recs %></td>
			    <td><%= f.blk_recs %></td>
			    <td><%= f.err_recs %></td>
			    <td><%= f.status %></td>
			  </tr>
			  <% end %>
			</tbody>
		</table>
		<p>月次ジョブの履歴</p>
		<table>
			<thead>
			<tr>
			  <th>ジョブ名</th>
			  <th>登録者</th>
			  <th>登録日時</th>
			  <th>開始日時</th>
			  <th>完了日時</th>
			  <th>対象件数</th>
			  <th>調査済み件数</th>
			  <th>自粛<br>リスト</th>
			  <th>回線<br>エラー</th>
			  <th>状態</th>
			</tr>
			</thead>
			<tbody>
			  <% @jobarchive_month.each do |f| %>
			  <tr>
			    <td><%= f.description %></td>
			    <td><%= f.staff_nm %></td>
			    <td><%= f.created_at %></td>
			    <td><%= f.started_at %></td>
			    <td><%= f.finished_at %></td>
			    <td><%= f.all_recs %></td>
			    <td><%= f.ok_recs %></td>
			    <td><%= f.blk_recs %></td>
			    <td><%= f.err_recs %></td>
			    <td><%= f.status %></td>
			  </tr>
			  <% end %>
			</tbody>
		</table>
			<br>
		<table class="table_size_400">
			<thead>
				<tr>
					<th>キャリア種別</th>
					<th>調査済み件数</th>
				</tr>
			</thead>
			<tbody>
				<% @jobarchive.each do |f| %>
				<tr>
					<td><%= f.task_summary_archives.carrier_type_desc %></td>
					<td><%= f.task_summary_archives.ok_recs %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<button class="button_footer_conf"><%= link_to 'ジョブ管理トップ画面へ', main_index_path %></button>
</main><!-- END "" -->
