<header class="px-2 h1 bg-primary text-white">&nbsp;&nbsp;電話番号調査システム</header><!-- END "" -->
<main>
<div class="center-block">
<div class="col-md-10 col-md-offset-1">
<br>
	<div id="content_conf">
	<table class="table_job td_input_left table table_border">
	<tr>
		<% for m in 0..11 %>
			<% if @month_ary[m][:active] === true %>
				<th class="table-info"><%= link_to "#{@month_ary[m][:desc]}", "/main/history/#{@month_ary[m][:month]}" %></th>
			<% else %>
				<th class="table-active"><%= link_to "#{@month_ary[m][:desc]}", "/main/history/#{@month_ary[m][:month]}" %></th>
			<% end %>
		<% end %>
	</tr>
	</table>
	<span class="topic h3 bg-faded border border-secondary rounded">&nbsp;受託ジョブの履歴&nbsp;</span>
        <div id="page_job" class="center-block">
        <div class="col-md-12">
        <br>
		<table class="table_job td_input_left table table_border">
			<thead>
			<tr>
			  <th class="table-active">ジョブ名</th>
			  <th class="table-active">登録者</th>
			  <th class="table-active">登録日時</th>
			  <th class="table-active">開始日時</th>
			  <th class="table-active">完了日時</th>
			  <th class="table-active">対象件数</th>
			  <th class="table-active">調査済み件数</th>
			  <th class="table-active">自粛<br>リスト</th>
			  <th class="table-active">回線<br>エラー</th>
			  <th class="table-active">状態</th>
			</tr>
			</thead>
			<tbody>
			  <% @jobarchive_acces.each do |f| %>
			  <tr>
			    <td>&nbsp;<%= f.description %>&nbsp;</td>
			    <td>&nbsp;<% unless f.staff_nm == nil%><%= f.staff_nm %><% end %>&nbsp;</td>
			    <td>&nbsp;<%= Time.at(f.created_at).strftime("%m/%d") %><br><%= Time.at(f.created_at).strftime("%H:%M") %>&nbsp;</td>
			    <td>&nbsp;<% unless f.started_at == nil %><%= Time.at(f.started_at).strftime("%m/%d") %><br><%= Time.at(f.started_at).strftime("%H:%M") %><% end %>&nbsp;</td>
			    <td>&nbsp;<% unless f.finished_at == nil %><%= Time.at(f.finished_at).strftime("%m/%d") %><br><%= Time.at(f.finished_at).strftime("%H:%M") %><% end %>&nbsp;</td>
			    <td>&nbsp;<% unless f.all_recs == nil %><%= number_with_delimiter(f.all_recs.clamp(0, 999999999), :delimiter => ',') %><% end %>&nbsp;</td>
			    <td>&nbsp;<% unless f.ok_recs == nil %><%= number_with_delimiter(f.ok_recs.clamp(0, 999999999), :delimiter => ',') %><% end %>&nbsp;</td>
			    <td>&nbsp;<% unless f.blk_recs == nil %><%= number_with_delimiter(f.blk_recs.clamp(0, 999999999), :delimiter => ',') %><% end %>&nbsp;</td>
			    <td>&nbsp;<% unless f.err_recs == nil %><%= number_with_delimiter(f.err_recs.clamp(0, 999999999), :delimiter => ',') %><% end %>&nbsp;</td>
			    <% if f.job_status.status_cd >= 11 %>
			      <td>&nbsp;<%= f.job_status.description[-2, 2] %>&nbsp;</td>
			    <% else %>
			      <td>&nbsp;<%= f.job_status.description %>&nbsp;</td>
			    <% end %>
			  </tr>
			  <% end %>
			</tbody>
		</table>
    </div>
		<span class="topic h3 bg-faded border border-secondary rounded">&nbsp;月次ジョブの履歴&nbsp;</span>
        <div id="page_job" class="center-block">
        <div class="col-md-12">
        <br>
		<table class="table_job td_input_left table table_border">
			<thead>
			<tr>
			  <th class="table-active">ジョブ名</th>
			  <th class="table-active">登録者</th>
			  <th class="table-active">登録日時</th>
			  <th class="table-active">開始日時</th>
			  <th class="table-active">完了日時</th>
			  <th class="table-active">対象件数</th>
			  <th class="table-active">調査済み件数</th>
			  <th class="table-active">自粛<br>リスト</th>
			  <th class="table-active">回線<br>エラー</th>
			  <th class="table-active">状態</th>
			</tr>
			</thead>
			<tbody>
			  <% @jobarchive_month.each do |f| %>
			  <tr>
			    <td>&nbsp;<%= f.description %>&nbsp;</td>
			    <td>&nbsp;<% unless f.staff_nm == nil %><%= f.staff_nm %><% end %>&nbsp;</td>
			    <td>&nbsp;<%= Time.at(f.created_at).strftime("%m/%d") %><br><%= Time.at(f.created_at).strftime("%H:%M") %>&nbsp;</td>
			    <td>&nbsp;<% unless f.started_at == nil%><%= Time.at(f.started_at).strftime("%m/%d") %><br><%= Time.at(f.started_at).strftime("%H:%M") %><% end %>&nbsp;</td>
			    <td>&nbsp;<% unless f.finished_at == nil %><%= Time.at(f.finished_at).strftime("%m/%d") %><br><%= Time.at(f.finished_at).strftime("%H:%M") %><% end %>&nbsp;</td>
			    <td>&nbsp;<% unless f.all_recs == nil %><%= number_with_delimiter(f.all_recs.clamp(0, 999999999), :delimiter => ',') %><% end %>&nbsp;</td>
			    <td>&nbsp;<% unless f.ok_recs == nil %><%= number_with_delimiter(f.ok_recs.clamp(0, 999999999), :delimiter => ',') %><% end %>&nbsp;</td>
			    <td>&nbsp;<% unless f.blk_recs == nil %><%= number_with_delimiter(f.blk_recs.clamp(0, 999999999), :delimiter => ',') %><% end %>&nbsp;</td>
			    <td>&nbsp;<% unless f.err_recs == nil %><%= number_with_delimiter(f.err_recs.clamp(0, 999999999), :delimiter => ',') %><% end %>&nbsp;</td>
			    <% if f.job_status.status_cd >= 11 %>
			      <td>&nbsp;<%= f.job_status.description[-2, 2] %>&nbsp;</td>
			    <% else %>
			      <td>&nbsp;<%= f.job_status.description %>&nbsp;</td>
			    <% end %>
			  </tr>
			  <% end %>
			</tbody>
		</table>
    </div>
			<br>
		<div class="col-md-8">
		<table class="table_job td_input_left table table_border">
			<thead>
				<tr>
					<th class="table-active">キャリア種別</th>
					<th class="table-active">調査済み件数</th>
				</tr>
			</thead>
			<tbody>
				<% @carriers_statistics.each do |f| %>
				<tr>
					<td><%= f[:desc] %></td>
					<td><%= f[:tot] %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	</div>

	<%= link_to 'ジョブ管理トップ画面へ', main_index_path, class:"btn btn-primary float-right" %>
</main><!-- END "" -->
</div>
</div>
