<header>電話番号調査システム</header>
<main>
  <p class="topic">受託ジョブ登録</p>
  <p class="border"></p>
  <div id="crumbs">
    <p>登録</p>
    <p class="menu_active_job">確認</p>
    <p>処理中</p>
    <p>完了</p>
  </div>
  <%= form_for @job, url: jobm_path do |f| %>
    <div id="page_job">
      <table>
        <tr>
          <th>ジョブ名</th>
          <td><%= f.hidden_field :description %><%= @job.description %></td>
        </tr>
        <tr>
          <th>登録者名</th>
          <td><%= f.hidden_field :staff_nm %><%= @job.staff_nm %></td>
        </tr>
        <tr>
          <th>優先度</th>
          <td><%= f.hidden_field :priority %><%= @job.priority %></td>
        </tr>
        <tr>
          <th>調査対象電話番号リスト</th>
          <td><%= hidden_field_tag :file_csv, @file_csv %><%= @file_csv.original_filename %></td>
        </tr>
      </table>
    </div>
    <%= f.submit '内容修正', name: 'back', class: 'content_conf_button' %>
    <%= f.submit '登録', class: 'content_conf_button' %>
  <% end %>
</main>
