<header class="px-2 h1 bg-primary text-white">&nbsp;&nbsp;電話番号調査システム</header><!-- END "" -->
<div class="center-block col-md-10 col-md-offset-1">
<main>
  <br>
  <span class="topic h3 bg-faded border border-secondary rounded">&nbsp;受託ジョ
ブ登録&nbsp;</span>
  <div id="page_job" class="center-block">
  <div class="col-md-12">
  <br>
  <table class="table_job td_input_left table table_border">
  <tr>
    <th class="table-active">登録</th>
    <th class="table-active">確認</th>
    <th class="table-active">処理中</th>
    <th class="table-info">完了</th>
  </tr>
  </table>
  <div id="page_job">
    <h4><%= @notice %></h4>
    <table class="td_input_left table table_border">
      <tr>
        <th class="h5 table-active table_size">ジョブ名</th>
        <td class="h5" colspan="3"><%= @job.description %></td>
      </tr>
      <tr>
        <th class="h5 table-active">登録者名</th>
        <td class="h5" colspan="3"><%= @job.staff_nm %></td>
      </tr>
      <tr>
        <th class="h5 table-active">優先度</th>
        <td class="h5" colspan="3"><%= @job.priority %></td>
      </tr>
      <tr>
        <th class="h5 table-active">調査対象電話番号リスト</th>
        <td class="h5"><%= @job.telnum_files.first.filename %></td>
        <th class="h5 table-active">登録件数</th>
        <td class="h5"><%= @line_count %></td>
      </tr>
    </table>
  </div>
 <div class="float-right">
  <%= link_to '即時実行', jobm_execute_path(@job), class:"btn btn-primary" %>
  <%= link_to 'ジョブ管理トップ画面へ', main_index_path, class:"btn btn-primary" %>
</div>
</main><!-- END "" -->
</div>
</div>
