<header class="px-2 h1 bg-primary text-white">&nbsp;&nbsp;電話番号調査システム</header><!-- END "" -->
<div class="center-block col-md-10 col-md-offset-1">
<main>
  <br>
  <span class="topic h3 bg-faded border border-secondary rounded">&nbsp;受託ジョブ登録&nbsp;</span>
  <div id="page_job" class="center-block">
  <div class="col-md-12">
  <br>
  <table class="table_job td_input_left table table_border">
  <tr>
    <th class="table-info">登録</th>
    <th class="table-active">確認</th>
    <th class="table-active">処理中</th>
    <th class="table-active">完了</th>
  </tr>
  </table>
  <!-- This is just to clear float -->
  <div style="clear:both"></div>
  <p class="notice"><%= @notice %></p>
  <% if !@errors.nil? && @errors.any? %>
      <div id="error_explanation">
        <ul>
          <% @errors.each do |error| %>
            <li>
              <%= error %>
            </li>
          <% end %>
        </ul>
      </div>
 <% end %>

  <div id="errorMsg" style="color: #f00;clear:both;"></div>

  <%= form_for @job, url: { action: 'create' }, html: { multipart: true } do |f| %>
      <div id="page_job">
        <table class="td_input_left table table_border">
          <tr>
           <th class="h5 table-active table_size"><%= f.label 'ジョブ名' %></th>
           <td class="h5"><%= f.text_field :description, class: 'form-control', autofocus: true %></td>
         </tr>
          <tr>
            <th class="h5 table-active"><%= f.label '登録者名' %></th>
            <td class="h5"><%= f.text_field :staff_nm, class: 'form-control' %></td>
          </tr>
          <tr>
            <th class="h5 table-active"><%= f.label '優先度' %></th>
            <td class="h5"><%= f.select(:priority, Job.priorities.slice(:普通, :高, :急 ), html: { class:'form-control' })  %></td>
          </tr>
          <tr class="new_addfiles">
            <th class="h5 table-active"><%= f.label '調査対象電話番号リスト' %></th>
            <td class="h5"><%= file_field_tag :file_csv %></td>
          </tr>
        </table>
      </div>
  <% end %>
  <div id="new_button_group" class="float-right">
    <%= link_to '戻る', main_index_path, class: 'btn btn-primary' %>
    <a id="confirm-button" class="content_conf_button data-mode-button btn btn-primary text-white">確認</a>
  </div>
  <div id="confirm_button_group" class="float-right" style="display: none;">
    <a class="content_conf_button data-mode-button btn btn-primary text-white" data-mode="new">内容修正</a>
    <a class="content_conf_button data-mode-button btn btn-primary text-white" data-mode="regist">登録</a>
  </div>
  <div id="regist_display" style="display: none;">
    <h3 class="text-center">対象リスト登録中です。<br>しばらくお待ちください。</h3>
  </div>
</main><!-- END "" -->
</div>
