<header class="px-2 h1 bg-primary text-white">&nbsp;&nbsp;電話番号調査システム</header><!-- END "" -->
<div class="center-block col-md-10 col-md-offset-1">
<main>
  <br>
  <span class="topic h3 bg-faded border border-secondary rounded">&nbsp;月次ジョブ登録&nbsp;</span>
  <div id="page_job" class="center-block">
  <div class="col-md-12">
  <br>
  <table class="table_job td_input_left table table_border">
  	<tr>
      <th class="table-active">登録</th>
      <th class="table-active">確認</th>
      <th class="table-active">処理中</th>
      <th class="table-info">完了</th>
		</tr>
	</table>
  <h4><%= simple_format(@notice) %></h4>
	<% if @request == 'notrun' %>
		<div id="errorMsg" style="color: #f00;clear:both;">
			完了していない月次ジョブがあるため実行できませんでした。
		</div>
	<% end %>
  <div id="page_job">
      <table class="td_input_left table table_border">
      <tr>
          <th class="h5 table-active table_size">ジョブ名</th>
          <td class="h5" colspan="3"><%= @description %></td>
        </tr>
        <tr>
          <th class="h5 table-active">登録者名</th>
          <td class="h5" colspan="3"><%= @staff_nm %></td>
        </tr>
        <% @files.each do |f| %>
        <tr>
          <th class="h5 table-active">調査対象電話番号リスト</th>
          <td class="h5"><%= f[:filename] %></td>
          <th class="h5 table-active">登録件数</th>
          <td class="h5"><%= f[:line_count] %></td>
        </tr>
        <% end %>
        <tr>
          <th class="h5 table-active">即時開始</th>
          <td class="h5" colspan="3"><% if @request == 'request' %>登録後、即時実行します。<% end %></td>
        </tr>
      </table>
    </div>
    <%= link_to 'ジョブ管理トップ画面へ', main_index_path, class:"btn btn-primary float-right" %>
</div>
</main><!-- END "" -->
</div>
</div>
