<header class="px-2 h1 bg-primary text-white">&nbsp;&nbsp;電話番号調査システム</header><!-- END "" -->
<div class="center-block">
<div class="col-md-10 col-md-offset-1">
<main>
  <br>
  <span class="topic h3 bg-faded border border-secondary rounded">&nbsp;月次ジョブ登録&nbsp;</span>
  <div id="page_job" class="center-block">
  <div class="col-md-12">
  <br>
  <table class="table_job td_input_left table table_border">
  <tr>
    <th class="table-info">登録</th>
    <th class="table-active">確認</th>
    <th class="table-active">処理中</th>
    <th class="table-active">完了</th>
  </tr>
  </table>

    <div id="errorMsg" style="color: #f00;clear:both;">
    </div>

    <%= form_for @job_month, url: {action: 'confirm'} do |f| %>
    <div id="page_job">
      <table class="table_job td_input_left table table_border">
        <tr>
          <th class="h5 table-active table_size"><%= f.label 'ジョブ名' %></th>
          <td class="h5"><%= f.text_field :description, class: 'form-control', autofocus: true %></td>
        </tr>
        <tr>
          <th class="h5 table-active"><%= f.label '登録者名' %></th>
          <td class="h5"><%= f.text_field :staff_nm, class: 'form-control' %></td>
        </tr>
        <tr class="new_addfiles">
          <th class="h5 table-active"><%= f.label '調査対象電話番号リスト' %></th>
          <td class="h5"><%= f.file_field :file_csv, class: :addfile %> <%= button_tag type: 'button', class: 'btn btn-primary jobm1_new_delfile_btn', style: 'display: none' do%>削除<% end %></td>
        </tr>
      	<tr>
          <th class="h5 table-active">即時開始</th>
          <td class="h5"><%= check_box_tag("op_start") %></td>
        </tr>
      </table>
      <%= button_tag type: 'button', class: 'btn btn-primary', id: 'jobm1_new_addfile_btn' do%>
      <%= 'ファイル追加'%>
      <% end %>
    </div>
    <br>
    <div id="new_button_group" class="float-right">
    	<%= link_to '戻る', main_index_path, class:"btn btn-primary" %>
    	<%= f.submit '確認', class: 'btn btn-primary data-mode-button', id: 'confirm-button' %>
    <% end %>
    </div>
    <div id="confirm_button_group" style="display: none;" class="float-right">
      <button class="content_conf_button data-mode-button btn btn-primary" data-mode="new">内容修正</button>
      <button class="content_conf_button data-mode-button btn btn-primary" data-mode="regist">登録</button>
    </div>
    <div id="regist_display" style="display: none;">
      <h3 class="text-center">対象リスト登録中です。<br>しばらくお待ちください。</h3>
    </div>
</main><!-- END "" -->
</div>
</div>
