<header>電話番号調査システム</header><!-- END "" -->
<main>
  <p class="topic">月次ジョブ登録</p>
  <p class="border"></p>
     <div id="crumbs">
        <p>登録</p>
        <p>確認</p>
        <p>処理中</p>
        <p class="menu_active_job">完了</p>
      </div>
	<div id="page_job">
	  <p> notice </p>
		<table class="table_job">
	    <tr>
	      <th>ジョブ名</th>
	      <td colspan="3"> @jobMonth.description </td>
	    </tr>
	    <tr>
	      <th>登録者名</th>
	      <td colspan="3"> @jobMonth.staff_nm </td>
	    </tr>
	    <tr>
	      <th>調査対象電話番号リスト</th>
	      <td>xxx会社_201704.csv</td>
	      <th class="table_size"> 登録件数</th>
	      <td>20,000</td>
	    </tr>
	    <tr>
	      <th>即時開始</th>
	      <td colspan="3"> 登録後、即時実行します。 </td>
	    </tr>
	    </table>
	</div>
		<button class="button_footer_conf"><%= link_to 'ジョブ管理トップ画面へ', jobm_index_path %></button>
</main><!-- END "" -->