<header class="px-2 h1 bg-primary text-white">&nbsp;&nbsp;電話番号調査システム</header><!-- END "" -->
<main>
<div class="center-block">
<div class="col-md-10 col-md-offset-1">
<div id="content_conf">
<br>
<div class="row col-md-12 text-center">
        <div class="table-info col-3 p-3 table_border">発呼制御サーバー情報<br>（OGW/HGW）管理</div>
        <div class="table-active col-3 p-3 table_border">発呼ﾍﾟｰｽ<br>情報設定</div>
        <div class="table-active col-3 p-3 table_border">自粛リスト<br>設定</div>
        <div class="table-active col-3 p-3 table_border">ログ閲覧</div>
</div>
    <h4>以下の通り、設定が更新されました。</h4>
    <p>発呼制御サーバ<%= @calling_controllers.cc_id %>
      対応キャリア：<%= @calling_controllers.carrier.description %>
      IPアドレス：<%= @calling_controllers.ip_addr %>
      最終接続：<%= @calling_controllers.updated_at %>
    </p>
    <h4 class="notice"><%= @notice %></h4>
    <% @calling_controllers.gateways.order(:gw_id, :description).each do |gateway| %>
        <table class="table_job td_input_left table table_border">
          <tr>
            <th class="table-active table_size">OGW/HGW名称</th>
            <td><%= gateway.description %></td>
          </tr>
          <tr>
            <th class="table-active">IPアドレス</th>
            <td><%= gateway.ip_addr %></td>
          </tr>
          <tr>
            <th class="table-active">対応NIC</th>
            <td>
              <%= gateway.nic.description %>
            </td>
          </tr>
          <tr>
            <th class="table-active">チャネル数</th>
            <td>
              <%= gateway.channels %>
            </td>
          </tr>
          <tr>
            <th class="table-active">発呼ペース</th>
            <td>
              <p><%= gateway.call_pace.description %></p>
            </td>
          </tr>
          <tr>
            <th class="table-active">電話番号</th>
            <td data-gw-telnums>
              <% gateway.gw_telnums.each do |gw_telnum| %>
                  <div><%= gw_telnum.telnum %></div>
              <% end %>
            </td>
          </tr>
          <tr>
            <th class="table-active">状態</th>
            <td>
              <%= gateway.enable? ? '利用可' : '利用不可' %>
            </td>
          </tr>
        </table>
    <% end %>
    <div class="float-right">
    <%= link_to '発呼制御サーバー情報管理トップ画面へ', conf_path, class:'btn btn-primary' %>
    <%= link_to '各種設定トップ画面へ', menu_menu002_path, class:'btn btn-primary' %>
</div>
</div>
</main><!-- END "" -->
