<header class="px-2 h1 bg-primary text-white">&nbsp;&nbsp;電話番号調査システム</header><!-- END "" -->
<main>
<div class="center-block">
<div class="col-md-10 col-md-offset-1">
<div id="content_conf">
<br>
<div class="row col-md-12 text-center">
        <div class="table-info col-3 p-3 table_border">発呼制御サーバー情報<br>（OGW/HGW）管理</div>
        <div class="table-active col-3 p-3 table_border">発呼ﾍﾟｰｽ<br>情報設定</div>
        <div class="table-active col-3 p-3 table_border">自粛リスト<br>設定</div>
        <div class="table-active col-3 p-3 table_border">ログ閲覧</div>
    </table>
</div>
    <br>
    <table class="table_job td_input_left table table_border">
      <thead>
      <th class="table-active">発呼制御サーバー</th>
      <th class="table-active">対応キャリア</th>
      <th class="table-active"></th>
      </thead>
      <tbody>
      <% @calling_controllers.each.map do |f| %>
          <tr>
            <td><%= f.cc_id %></td>
            <td><%= f.carrier.description %></td>
            <td><%= link_to '詳細', {action: 'show', id: f.cc_id}, {class:'btn btn-primary'} %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
   </div>
  <div class="float-right">
  <%= link_to '各種設定トップ画面へ', menu_menu002_path, class:'btn btn-primary' %>
  </div>
</main><!-- END "" -->
</div>
</div>
