<% content_for :additional_css do %>
  <!-- jQuery Modal -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" data-turbolinks-track="reload" />
<% end %>

<% content_for :additional_js do %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js" data-turbolinks-track="reload" ></script>
<% end %>

<header class="px-2 h1 bg-primary text-white">&nbsp;&nbsp;電話番号調査システム</header><!-- END "" -->
<main>
<div class="center-block">
<div class="col-md-10 col-md-offset-1">
<div id="content_conf">
<br>
<div class="row col-md-12 text-center">
        <div class="table-info col-3 p-3 table_border">発呼制御サーバー情報<br>（OGW/HGW）管理</div>
        <div class="table-active col-3 p-3 table_border">発呼ﾍﾟｰｽ<br>情報設定</div>
        <div class="table-active col-3 p-3 table_border">自粛リスト<br>設定</div>
        <div class="table-active col-3 p-3 table_border">ログ閲覧</div>
    </table>
</div>
<br>
    <h6>発呼制御サーバ<%= @calling_controller.cc_id %>
      対応キャリア：<%= @calling_controller.carrier.description %>
      IPアドレス：<%= @calling_controller.ip_addr %>
      最終接続：<%= @calling_controller.updated_at %>
    </h6>
    <div id="error_explanation">
      <% if @calling_controller.errors.any? %>
          <ul>
            <% @calling_controller.errors.full_messages.each do |message| %>
              <li>
                <%= message %>
              </li>
            <% end %>
          </ul>
      <% end %>
    </div>
    <p class="notice"><%= @notice %></p>

<%= form_tag(conf_update_path, method: :post) do %>
        <% @calling_controller.gateways.order(description: :asc).each do |gateway| %>
            <table class="table_job td_input_left table table_border">
              <input type="hidden" name="calling_controller[gateways_attributes][][id]" value="<%= gateway.id%>">
              <tr>
                <th class="table-active table_size">OGW/HGW名称</th>
                <td><%= gateway.description %></td>
              </tr>
              <tr>
                <th class="table-active">IPアドレス</th>
                <td><%= gateway.ip_addr %></td>
              </tr>
              <tr>
                <th class="table-active">対応NIC</th>
                <td>
                  <%= gateway.nic.description %>
                </td>
              </tr>
              <tr>
                <th class="table-active">チャネル数</th>
                <td>
                  <input class="form-control col-4" type="number" name="calling_controller[gateways_attributes][][channels]" value="<%= gateway.channels %>" min="1" max="999" required>
                </td>
              </tr>
              <tr>
                <th class="table-active">発呼ペース</th> 
		<td>
                  <select name="calling_controller[gateways_attributes][][cp_id]" class="form-control col-4">
                    <% @call_paces.each do |call_pace| %>
                      <option value="<%= call_pace.cp_id %>" <%= "selected" if gateway.cp_id == call_pace.cp_id %> ><%= call_pace.description%></option>
                    <% end %>
                  </select>
                </td>
              </tr>
              <tr>
                <th class="table-active">電話番号</th>
                <td>
                  <a href="#gw<%= gateway.id %>" rel="modal:open">登録</a>
                  <div id="gw<%= gateway.id %>" class="modal phone-modal" data-gw-telnums>
                    <p class="error_explanation"></p>
                    <table class="phone-table">
                      <tbody>
                      <% gateway.gw_telnums.each do |gw_telnum| %>
                      <tr>
                        <input type='hidden' name='calling_controller[gateways_attributes][][gw_telnums_attributes][][id]' value='<%= gw_telnum.id %>'>
                        <td><input type="checkbox" name="delete"></td>
                        <td><input type='text' class="form-control" name='calling_controller[gateways_attributes][][gw_telnums_attributes][][telnum]' value='<%= gw_telnum.telnum %>' readonly></td>
                        <td></td>
                      </tr>
		      <% end %>
                      <tr>
                        <td></td>
                        <td><input type="text" class="add_gw_telnum form-control" maxlength='11' pattern="[0-9]+" placeholder="電話番号入力"></td>
			<td><button type="button" class="btn btn-primary"data-add-gw-telnum>追加</button></td>
			</tr>
                      </tbody>
                    </table>
                    <div class="modal-footer">
                      <button class="btn btn-primary" data-remove-gw-telnums>削除</button>
                      <button class="btn btn-primary" data-close-modal>更新</button>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th class="table-active">状態</th>
                <td>
                  <%= gateway.enable? ? '利用可' : '利用不可' %>
                </td>
              </tr>
            </table>
        <% end %>

	<div class="float-right">
        <%= link_to '戻る', conf_path, class:'btn btn-primary' %>
	<button class="btn btn-primary">更新</button>
	<%= link_to '各種設定トップ画面へ', menu_menu002_path, class:'btn btn-primary' %>
<% end %>
</div>
</div>
</main><!-- END "" -->
</div>
</div>
