<header class="px-2 h1 bg-primary text-white">&nbsp;&nbsp;電話番号調査システム</header><!-- END "" -->
<div class="center-block col-md-10 col-md-offset-1">
<main>
  <h3 class="topic"><%= @job.description %> の調査結果取得</h3>
  <div id="page_job" class="center-block">                                        <div class="col-md-12">
  <br>
  <table class="table_job td_input_left table table_border">
  <tr>
    <th class="table-active">登録</th>
    <th class="table-active">確認</th>
    <th class="table-active">処理中</th>
    <th class="table-info">完了</th>
  </tr>
  </table>
<div id="errorMsg" style="color: #f00;clear:both">
	</div>
  <div id="page_job">
    <br><br>
		<% @files.each do |file| %>
			<h3><%= link_to releaseEscapeUrl("#{file}"), "/REPORT/#{file}" %></h3>
			<br>
		<% end %>
  </div>
<br>
	<%= link_to 'ジョブ管理トップ画面へ', main_index_path, class: 'btn btn-primary button_footer_conf float-right' %>
</main><!-- END "" -->
