<header>電話番号調査システム</header><!-- END "" -->
<main>
  <p class="topic">ｘｘｘｘ会社の調査結果取得</p>
  <div>
  <p class="border"></p>
      <div id="crumbs">
        <p class="menu_active_job">登録</p>
        <p>確認</p>
        <p>処理中</p>
        <p>完了</p>
      </div>
  </div>
  <div id="page_job">
    <p>結果ファイルを生成中です<br>しばらくお待ちください。</p>
  </div>
</main><!-- END "" -->