<header class="px-2 h1 bg-primary text-white">&nbsp;&nbsp;電話番号調査システム</header><!-- END "" -->
<div class="center-block col-md-10 col-md-offset-1">
<main>
  <h3 class="topic"><%= @job.description %> の調査結果取得</h3>
  <div id="page_job" class="center-block">
  <div class="col-md-12">
  <br>
  <table class="table_job td_input_left table table_border">
  <tr>
    <th class="table-info">登録</th>
    <th class="table-active">確認</th>
    <th class="table-active">処理中</th>
    <th class="table-active">完了</th>
  </tr>
  </table>
</div>
	<div id="errorMsg" style="color: #f00;clear:both;">
	</div>
	<%= form_tag({action: :confirm} ) do%>
  <div class="col-md-8">
		<table class="td_input_left table table_border" id="carrier_tbl">
		  <thead>
		    <tr>
		      <th class="table_checkbox h5 table-active table_size_small"></th>
		      <th class="h5 table-active">キャリア種別</th>
		    </tr>
		  </thead>
		  <tbody>
				<% @carriers.each.map do |f| %>
					<tr>
						<td class="table_checkbox"><%= check_box "#{@job_id}", "carrier_#{f.description}", {:name => "#{f.type_cd}", :class => "tr_c"}, true, false %></td>
						<td><%= f.description %></td>
					</tr>
				<% end %>
				<input type="hidden" id="c_values" name="c_values" value=""/>
		  </tbody>
		</table>
		<br>
		<table class="td_input_left table table_border" id="field_tbl">
		  <thead>
		    <tr>
		      <th class="table_checkbox h5 table-active table_size_small"></th>
		      <th class="h5 table-active">フィールドの内容</th>
		    </tr>
		  </thead>
		  <tbody>
		  	<tr>
		  		<td class="table_checkbox">
						<input type="checkbox" class="tr_f" name="telnum" value=""/>
						<input type="hidden" id="telnum" name="tln" value="false">
					</td>
		  		<td>電話番号</td>
		  	</tr>
		  	<tr>
		  		<td class="table_checkbox">
						<input type="checkbox" class="tr_f" name="call_ymd" value=""/>
						<input type="hidden" id="call_ymd" name="c_y" value="false">
					</td>
		  		<td>発呼日</td>
		  	</tr>
		  	<tr>
		  		<td class="table_checkbox">
						<input type="checkbox" class="tr_f" name="call_hms" value=""/>
						<input type="hidden" id="call_hms" name="c_h" value="false">
					</td>
		  		<td>発呼時間</td>
		  	</tr>
		  	<tr>
		  		<td class="table_checkbox">
						<input type="checkbox" class="tr_f" name="carrier_type_cd" value=""/>
						<input type="hidden" id="carrier_type_cd" name="c_t_c" value="false">
					</td>
		  		<td>キャリア種別</td>
		  	</tr>
		  	<tr>
		  		<td class="table_checkbox">
						<input type="checkbox" class="tr_f" name="err_cd" value=""/>
						<input type="hidden" id="err_cd" name="e_c" value="false">
					</td>
		  		<td>エラーコード</td>
		  	</tr>
		  	<tr>
		  		<td class="table_checkbox">
						<input type="checkbox" class="tr_f" name="warn_cd" value=""/>
						<input type="hidden" id="warn_cd" name="w_c" value="false">
					</td>
		  		<td>ワーニングコード</td>
		  	</tr>
		  	<tr>
		  		<td class="table_checkbox">
						<input type="checkbox" class="tr_f" name="sts_cd" value=""/>
						<input type="hidden" id="sts_cd" name="s_c" value="false">
					</td>
		  		<td>ステータスコード</td>
		  	</tr>
		  </tbody>
		</table>
	<% end %>
	</div>
	<div id="new_button_group" class="float-right">
                <%= link_to '戻る', main_path(id: @job_id) , class: 'btn btn-primary button_footer_job'%>
		<button class="btn btn-primary button_footer_job data-mode-button-r">確認</button>
	</div>
	<div id="confirm_button_group" style="display: none;" class="float-right">
                <button class="btn btn-primary content_conf_button data-mode-button-r" data-mode="new">内容修正</button>
		<button class="btn btn-primary content_conf_button data-mode-button-r" data-mode="regist">結果取得</button>
	</div>
	<div id="regist_display" style="display: none;">
		<h3 class="text-center">結果ファイルを生成中です。<br>しばらくお待ちください。</h3>
	</div>
</div>
</div>
</main><!-- END "" -->
<script type="text/javascript">
(function() {
  $(document).on('turbolinks:load', function() {
    var _$errorMsg, _$mode, _ConfirmCheckR, _ConfirmDisplayR, _DisplayProcR, _NewDisplayR, _RegistDisplayR;
    _$mode = 'confirm';
    _$errorMsg = '';
    _DisplayProcR = function() {
      switch (_$mode) {
        case 'new':
          _NewDisplayR();
          break;
        case 'confirm':
          if (_ConfirmCheckR()) {
            _ConfirmDisplayR();
          } else {
            $("#errorMsg").html(_$errorMsg);
          }
          break;
        case 'regist':
          _RegistDisplayR();
      }
      return false;
    };
    _NewDisplayR = function() {
      var current_menu;
      current_menu = $(".table-info");
      current_menu.removeClass("table-info");
      current_menu.addClass("table-active");
      current_menu.prev().addClass("table-info");
      current_menu.prev().removeClass("table-active");
      $("#jobm1_new_addfile_btn").css("display", "");
			//チェックボックスまわりの表示
			$("input[type=checkbox]").map(function() {
				$(this).parent().parent().css("display", "");
			});
			$(".table_checkbox").css("display", "")
			$("input[type=checkbox]").css("display", "");

      $(".confirm-view").remove();
      $("#new_button_group").css("display", "block");
      $("#confirm_button_group").css("display", "none");
    };
    _ConfirmDisplayR = function() {
      var current_menu;
      current_menu = $(".table-info");
      current_menu.removeClass("table-info");
      current_menu.addClass("table-active");
      current_menu.next().addClass("table-info");
      current_menu.next().removeClass("table-active");
      $("#errorMsg").html("");
      $("p.notice").css("display", "none");
      $("#jobm1_new_addfile_btn").css("display", "none");
			//チェックボックスまわりの表示
      $("input[type=checkbox]").css("display", "none");
			$(".table_checkbox").css("display", "none")
			$("#c_values").val("");
      $("input[type=checkbox]").map(function() {
				if ($(this).attr('class') == "tr_c") {
					if ($(this).prop("checked") == true) {
						var hid = $("#c_values");
						hid.val(hid.val() + $(this).attr("name") + " ");
					}
				} else if ($(this).attr('class') == "tr_f") {
					var hid = $(`#${$(this).attr('name')}`);
					hid.val($(this).prop("checked"));
				}
				if ($(this).prop("checked") == false) {
					$(this).parent().parent().css("display", "none");
				}
			});
      $("#new_button_group").css("display", "none");
      $("#confirm_button_group").css("display", "block");
    };
    _RegistDisplayR = function() {
      var current_menu;
      current_menu = $(".table-info");
      current_menu.removeClass("table-info");
			current_menu.addClass("table-active");
      current_menu.next().addClass("table-info");
      current_menu.next().removeClass("table-active");
      $("form").css("display", "none");
      $("#regist_display").css("display", "block");
      $("#confirm_button_group").css("display", "none");
      $("form").submit();
    };
    _ConfirmCheckR = function() {
      var file_find, file_maxlength, file_unique, nameAry, result;
      nameAry = [];
      result = true;
      _$errorMsg = "";
      file_find = false;
      file_unique = true;
      file_maxlength = true;
      $(".new_addfiles input[type=file]").each(function() {
        if (this.files.length > 0) {
          if ($.inArray(this.files[0].name, nameAry) === -1) {
            nameAry.push(this.files[0].name);
            file_find = true;
            if (this.files[0].name.length > 25) {
              file_maxlength = false;
            }
          } else {
            file_unique = false;
          }
        }
      });
			//キャリアチェック
			var carrier_flg = false;
			var c_vals = $('.tr_c').map(function() {
			  if ($(this).prop('checked') == true) {
					carrier_flg = true;
				}
			}).get();
			if (carrier_flg == false) {
				_$errorMsg += "<li>キャリア種別が選択されていません。</li>";
			} 
			//フィールドチェック
			var field_flg = false;
			var	f_vals = $('.tr_f').map(function() {
				if ($(this).prop('checked') == true) {
					field_flg = true;
				}
			}).get();
			if (field_flg == false) {
				_$errorMsg += "<li>フィールドの内容が選択されていません。</li>";
			}

      if (_$errorMsg !== "") {
        _$errorMsg = "<ul>" + _$errorMsg + "</ul>";
        result = false;
      }
      return result;
    };
    return $(".data-mode-button-r").on("click", function() {
      _$mode = $(this).data("mode");
      if (typeof _$mode === 'undefined') {
        _$mode = 'confirm';
      }
      _DisplayProcR();
      return false;
    });
  });

}).call(this);
</script>
