<header>電話番号調査システム</header><!-- END "" -->
<main>
  <p class="topic">ｘｘｘｘ会社の調査結果取得</p>
  <div>
  <p class="border"></p>
      <div id="crumbs">
        <p class="menu_active_job">登録</p>
        <p>確認</p>
        <p>処理中</p>
        <p>完了</p>
      </div>
  </div>
  <div id="page_job">
    <br><br>
    <a href="" class="link_job">Result_ジョブ名_NTT_YYYYMMDD_user.csv</a><br><br>
    <a href="" class="link_job">Result_ジョブ名_KDDI_YYYYMMDD_user.csv</a><br><br>
    <a href="" class="link_job">Result_ジョブ名_その他_YYYYMMDD_user.csv</a>
  </div>
  <button class="button_footer_conf"><a href=""></a>ジョブ管理トップ画面へ</button>
</main><!-- END "" -->