<header class="px-2 h1 bg-primary text-white">&nbsp;&nbsp;電話番号調査システム</header><!-- END "" -->
<main>
<div class="center-block">
<div class="col-md-10 col-md-offset-1">
<br>
<div class="row col-md-12 text-center">
        <div class="table-active col-3 p-3 table_border">発呼制御サーバー情報<br>（OGW/HGW）管理</div>
        <div class="table-info col-3 p-3 table_border">発呼ﾍﾟｰｽ<br>情報設定</div>
        <div class="table-active col-3 p-3 table_border">自粛リスト<br>設定</div>
        <div class="table-active col-3 p-3 table_border">ログ閲覧</div>
    </table>
</div>
<br>
	<%= form_for(@callpace, :url => {:controller=>"conf1", :action=>"create"}, :html=>{:method=>"post"}) do |f| %>

	<div class="form-group row">
		<label class="col-2 col-form-label">発呼パターン名</label>
		<div class="col-4 mr-5"><%= f.text_field :description, class:'form-control', :size=>20, :maxlength=>30, :placeholder => '20文字以内で入力してください' %></div>

	<div class="row ml-5 notice_size">
	<% if !@message.blank? || @callpace.errors.any? %>
                <ul class="ul_conf1_message col-12 m-0">
                <li><%= @message %></li>
                <% # errorsに入っているエラー内容を出力する %>
                <% @callpace.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
                </ul>
        <% end %>
	</div>


	</div>

		<table class="table_job td_input_left table table_border">
			<thead>
			<tr>
			  <th class="table-active">00:00</th>
			  <th class="table-active">01:00</th>
			  <th class="table-active">02:00</th>
			  <th class="table-active">03:00</th>
			  <th class="table-active">04:00</th>
			  <th class="table-active">05:00</th>
			  <th class="table-active">06:00</th>
			  <th class="table-active">07:00</th>
			  <th class="table-active">08:00</th>
			  <th class="table-active">09:00</th>
			  <th class="table-active">10:00</th>
			  <th class="table-active">11:00</th>
			</tr>
			</thead>
			<tbody>
			  <tr>
			    <td><%= f.text_field :cp_0, class: 'form_input_conf1 waku', :size=>3, :maxlength=>3 %></td>
			    <td><%= f.text_field :cp_1, class: 'form_input_conf1 waku', :size=>3, :maxlength=>3 %></td>
			    <td><%= f.text_field :cp_2, class: 'form_input_conf1 waku', :size=>3, :maxlength=>3 %></td>
			    <td><%= f.text_field :cp_3, class: 'form_input_conf1 waku', :size=>3, :maxlength=>3 %></td>
			    <td><%= f.text_field :cp_4, class: 'form_input_conf1 waku', :size=>3, :maxlength=>3 %></td>
			    <td><%= f.text_field :cp_5, class: 'form_input_conf1 waku', :size=>3, :maxlength=>3 %></td>
			    <td><%= f.text_field :cp_6, class: 'form_input_conf1 waku', :size=>3, :maxlength=>3 %></td>
			    <td><%= f.text_field :cp_7, class: 'form_input_conf1 waku', :size=>3, :maxlength=>3 %></td>
			    <td><%= f.text_field :cp_8, class: 'form_input_conf1 waku', :size=>3, :maxlength=>3 %></td>
			    <td><%= f.text_field :cp_9, class: 'form_input_conf1 waku', :size=>3, :maxlength=>3 %></td>
			    <td><%= f.text_field :cp_10, class: 'form_input_conf1 waku', :size=>3, :maxlength=>3 %></td>
			    <td><%= f.text_field :cp_11, class: 'form_input_conf1 waku', :size=>3, :maxlength=>3 %></td>
			  </tr>
			</tbody>
		</table>
		<table class="table_job td_input_left table table_border">
			<thead>
			<tr>
			  <th class="table-active">12:00</th>
			  <th class="table-active">13:00</th>
			  <th class="table-active">14:00</th>
			  <th class="table-active">15:00</th>
			  <th class="table-active">16:00</th>
			  <th class="table-active">17:00</th>
			  <th class="table-active">18:00</th>
			  <th class="table-active">19:00</th>
			  <th class="table-active">20:00</th>
			  <th class="table-active">21:00</th>
			  <th class="table-active">22:00</th>
			  <th class="table-active">23:00</th>
			</tr>
			</thead>
			<tbody>
			  <tr>
			    <td><%= f.text_field :cp_12, class: 'form_input_conf1 waku', :size=>3, :maxlength=>3 %></td>
			    <td><%= f.text_field :cp_13, class: 'form_input_conf1 waku', :size=>3, :maxlength=>3 %></td>
			    <td><%= f.text_field :cp_14, class: 'form_input_conf1 waku', :size=>3, :maxlength=>3 %></td>
			    <td><%= f.text_field :cp_15, class: 'form_input_conf1 waku', :size=>3, :maxlength=>3 %></td>
			    <td><%= f.text_field :cp_16, class: 'form_input_conf1 waku', :size=>3, :maxlength=>3 %></td>
			    <td><%= f.text_field :cp_17, class: 'form_input_conf1 waku', :size=>3, :maxlength=>3 %></td>
			    <td><%= f.text_field :cp_18, class: 'form_input_conf1 waku', :size=>3, :maxlength=>3 %></td>
			    <td><%= f.text_field :cp_19, class: 'form_input_conf1 waku', :size=>3, :maxlength=>3 %></td>
			    <td><%= f.text_field :cp_20, class: 'form_input_conf1 waku', :size=>3, :maxlength=>3 %></td>
			    <td><%= f.text_field :cp_21, class: 'form_input_conf1 waku', :size=>3, :maxlength=>3 %></td>
			    <td><%= f.text_field :cp_22, class: 'form_input_conf1 waku', :size=>3, :maxlength=>3 %></td>
			    <td><%= f.text_field :cp_23, class: 'form_input_conf1 waku', :size=>3, :maxlength=>3 %></td>
			  </tr>
			</tbody>
		</table>
		<ul><li>発呼ペースの単位は<b>1ch</b>の発呼間隔（秒）</li></ul>
                <div class="float-right">
                        <%= button_tag type: 'button', class: 'btn btn-primary', onclick: "link_to('" + conf1_path + "')" do %>
                                戻る
                        <% end %>
			<%= f.submit '新規追加', class: 'btn btn-primary' %>
	<% end %>
        <%= button_tag type: 'button', class: 'btn btn-primary', onclick: "link_to('" + menu_menu002_path + "')" do %>
                各種設定トップ画面へ
        <% end %>
</div>
</main><!-- END "" -->
</div>
</div>
<script type="text/javascript">
function link_to(link) {
        location.href = link;
}

</script>


