// Place all the styles related to the conf1 controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form_input_conf1{
	width:100%;
	text-align: center;
	border: none;
	font: unset;
//	font-size: 14px;
}
.form_input_conf1_text{
	padding: 5px;
	text-align: start;
}
.form_select_conf1{
	font: unset;
	padding: 5px;
	margin-left: 3%;
	
}
.content_conf1_button{
	width: 75px;
	display: block;
	float: left;
}
.form_button_div_conf1{
	width: 225px;
	float: right;
}
li{
	list-style-type: none;
	padding: 3px;
}
.ul_conf1_message{
	border-color: grey;
	border-collapse: collapse;
	border-spacing: 2px;
	border: 3px solid #d9d9d9;
	background-color: #f2f2f2;
	float: right;
	padding: 5px;
	margin-top: 0px;
	margin-right: 5%;
	width: 45%;
	color: red;
	font-weight: bold;
}
