// Place all the styles related to the conf2 controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form_input_conf2{
#	width:100%;
	text-align: start;
	border: none;
	font: unset;
#	font-size: 14px;
}
.form_input_conf2_text{
	padding: 5px;
}
.form_select_conf2{
	font: unset;
	padding: 5px;
	margin-left: 3%;
	
}
.content_conf2_button{
	width: 75px;
	display: block;
	float: left;
}
.form_button_div_conf2{
	width: 225px;
	float: right;
}
li{
	list-style-type: none;
	padding: 3px;
}
.ul_conf2_message{
	border-color: grey;
	border-collapse: collapse;
	border-spacing: 2px;
	border: 3px solid #d9d9d9;
	background-color: #f2f2f2;
	float: right;
	padding: 5px;
	margin-top: 0px;
	margin-right: 7%;
	margin-bottom: -14px;
	width: 40%;
	color: red;
	font-weight: bold;
}
.li_conf2_color_true{
	color: black;
}

/* Chrome, Safari */
#regist_warn::-webkit-input-placeholder{
    color: red;
}
 
/* Firefox */
#regist_warn::-moz-placeholder{
    color: red;
}
 
/* Firefox 18以前 */
#regist_warn:-moz-placeholder{
    color: red;
}
 
/* IE */
#regist_warn:-ms-input-placeholder{
    color: red;
}
