.notice {
  color: red;
}

.modal.phone-modal {
  max-width: 300px;

  .error_explanation {
    font-size: 14px;

    color: red;
    li {
      color: red;
    }
  }

  .phone-table {
    width: 100%;

    td {
      border: none;
    }
  }

  .buttons {
    float: right;
  }
}
