.ul_message{
        border-color: grey;
        border-collapse: collapse;
        border-spacing: 2px;
        border: 3px solid #d9d9d9;
        background-color: #f2f2f2;
        float: right;
        padding: 5px;
        margin-top: 1%;
        margin-right: 10%;
        width: 30%;
        color: red;
        font-weight: bold;
}

.notice {
    color: red;
}
