.table_border{
    margin-top: 2rem;
}
.table_border, .table_border th, .table_border td {
    border: 3px solid #dee2e6 !important;
}
.table_size {
    width: 40%;
}
.table_size_small{
    width: 20%;
}
.waku{
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.300rem 0.75rem;
}
.notice_size{
	width: 40%;
	margin: -0.5rem 0rem;
}
