<header>電話番号調査システム</header><!-- END "" -->
<main>
  <p class="topic">ジョブ詳細　状態：実行中</p>
  <br><br><br><br><br><br><br><br>
  <button class="button_footer_conf"><%= link_to 'ジョブ管理トップ画面へ', main_index_path %></button>
  <button class="button_footer_conf"><%= link_to 'ジョブ管理トップ画面へ', main_index_path %></button>
</main><!-- END "" -->