<header class="px-2 h1 bg-primary text-white">&nbsp;&nbsp;電話番号調査システム</header><!-- END "" -->
<div class="center-block">
<div class="col-md-10 col-md-offset-1">
<main>
  <br>
  <span class="topic h3 bg-faded border border-secondary rounded">&nbsp;ジョブファイル追加&nbsp;</span>
<div id="page_job" class="center-block">
<div class="col-md-12">
<br>
<table class="table_job td_input_left table table_border">
  <tr>
    <th class="table-active">登録</th>
    <th class="table-active">確認</th>
    <th class="table-active">処理中</th>
    <th class="table-info">完了</th>
  </tr>
</table>
	<div style="clear:both;">
      <h2>以下の通り、設定と対象リストの登録が完了しました。</h2>
    </div>
    <div id="page_job">
      <table class="table_job td_input_left table table_border">
        <tr>
          <th class="h5 table-active table_size">ジョブ名</th>
          <td class="h5" colspan="3"><%= @job.description %></td>
        </tr>
        <% @files.each do |f| %>
        <tr>
          <th class="h5 table-active table_size">調査対象電話番号リスト</th>
          <td class="h5"><%= f[:filename] %></td>
          <th class="h5 table-active">登録件数</th>
          <td class="h5"><%= f[:line_count] %></td>
        </tr>
        <% end %>
      </table>
	<div class="float-right">
		<%= link_to 'ジョブ詳細画面へ', {controller: "main", action: "show", :id => @job.job_id}, class: "btn btn-primary" %>
    		<%= link_to 'ジョブ管理トップ画面へ', main_index_path, class: "btn btn-primary" %>
</main><!-- END "" -->
</div>
</div>
