<header>電話番号調査システム</header><!-- END "" -->
<main>
  <p class="topic">ジョブファイル追加</p>
  <div>
  <p class="border"></p>
      <div id="crumbs">
        <p>登録</p>
        <p>確認</p>
        <p class="menu_active_job">処理中</p>
        <p>完了</p>
  	  </div>
  </div>
	<div id="page_job">
		<p>対象リスト登録中です<br>しばらくお待ちください。</p>
	</div>
</main><!-- END "" -->