<header class="px-2 h1 bg-primary text-white">&nbsp;&nbsp;電話番号調査システム</header><!-- END "" -->
<div class="center-block">
<div class="col-md-10 col-md-offset-1">
<main>
  <br>
  <span class="topic h3 bg-faded border border-secondary rounded">&nbsp;ジョブファイル追加&nbsp;</span>
        <div id="page_job" class="center-block">
        <div class="col-md-12">
        <br>
  <table class="table_job td_input_left table table_border">
  <tr>
    <th class="table-info">登録</th>
    <th class="table-active">確認</th>
    <th class="table-active">処理中</th>
    <th class="table-active">完了</th>
  </tr>
  </table>

	<div id="errorMsg" style="color: #f00;clear:both;">
		<% if !@message.present? %>
			<%= @errors_msg %><br>
		<% end %>
	</div>

	<%= form_tag({action: :confirm}, multipart: true) do %>
		<div id="page_job">
		<table class="table_job td_input_left table table_border">
				<tr>
	    	  <th class="h5 table-active table_size"><%= label_tag 'ジョブ名'%></th>
	    	  <td class="h5"><%= @job.description %></td>
	    	</tr>
				<tr class="new_addfiles">
	      	<th class="h5 table-active"><%= label_tag '調査対象電話番号リスト' %></th>
	      	<td class="h5"><%= file_field_tag :file_csv, class: "addfile" %> <%= button_tag type:"button", class: "btn btn-primary jobm1_new_delfile_btn", style: "display: none" do %>削除<% end %></td>
	    	</tr>
			</table>
			<%= button_tag type: "button", class: "btn btn-primary button_addfile_job", id: "jobm1_new_addfile_btn" do %>
				<%= 'ファイル追加' %>
			<% end %>
		</div>
	<% end %>
	<div class="float-right" id="new_button_group">
		<%= link_to '戻る', main_path(@job.job_id), class:"btn btn-primary" %>
		<button id="confirm-button" class="btn btn-primary data-mode-button">確認</button>
	</div>
	<div id="confirm_button_group" style="display: none;" class="float-right">
		<button class="btn btn-primary data-mode-button" data-mode="new">内容修正</button>
		<button class="btn btn-primary data-mode-button" data-mode="regist">登録</button>
	</div>
	<div id="regist_display" style="display: none;">
		<h3 class="text-center">対象リスト登録中です。<br>しばらくお待ちください。<h3>
	</div>
</main><!-- END "" -->
</div>
</div>
