<header>電話番号調査システム</header><!-- END "" -->
<main>
  <p class="topic">月次ジョブ登録</p>
  <p class="border"></p>
      <div id="crumbs">
        <p>登録</p>
        <p class="menu_active_job">確認</p>
        <p>処理中</p>
        <p>完了</p>
      </div>
	<div id="page_job">
		<table>
	    <tr>
	      <th>ジョブ名</th>
	      <td> f.hidden_field :description </td>
	    </tr>
	    <tr>
	      <th>調査対象電話番号リスト</th>
	      <td> :file_csv </td>
	    </tr>
	    <tr>
	      <th>調査対象電話番号リスト</th>
	      <td>xxx会社_201704.csv</td>
	      <th class="table_size"> 登録件数</th>
	      <td>20,000</td>
	    </tr>
		</table>
	</div>
		<button class="content_conf_button">f.submit '確認', class: 'content_conf_button'</button>
		<button class="content_conf_button"> link_to '内容修正', name: :new, class: 'content_conf_button'</button>

</main><!-- END "" -->